---
const { Title } = Astro.props;
const { Image } = Astro.props;
const { Description } = Astro.props;
const { GithubLink } = Astro.props;
const { FrameWorkUsage } = Astro.props;
const { AltImg } = Astro.props;
---

<div
  class="bg-[#171F26] block justify-between rounded-lg shadow-lg cursor-pointer items-center mt-[20px] mb-[20px] md:flex text-center"
>
  <div>
    <img class="md:w-[300px] w-[100%] mx-auto" src={Image} alt={AltImg} />
  </div>
  <div class="text-center pr-[20px]">
    <h1 class="text-3xl font-semibold">{Title}</h1>
    <p class="opacity-50">{Description}</p>
    <div class="flex justify-center">
      <a
        href={GithubLink}
        class="text-white bg-black p-[6px] rounded-full flex items-center w-[80px] justify-center"
      >
        <img src="../../../public/icons/Github.svg" alt="GitHub Icono" />
        Github
      </a>
    </div>
    <div>
      <p class="text-[#3d6b86]">{FrameWorkUsage}</p>
    </div>
  </div>
</div>
